# Initially taken from Github's Python gitignore file

run2
run
pretrained

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
checkpoints
*.ckpt
# C extensions
*.so

cache

# tests and logs
tests/fixtures/cached_*_text.txt
logs/
lightning_logs/
lang_code_data/
docker
doc
_typos.toml
data
docs

ldm_generated_image.png
*.log

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# vscode
.vs
.vscode

# Pycharm
.idea

# TF code
tensorflow_code

# Models
proc_data

# examples
runs
/runs_old
/wandb
/examples/runs
/examples/**/*.args
/examples/rag/sweep
/swanlog

# data
/data
serialization_dir

# emacs
*.*~
debug.env

# vim
.*.swp

#ctags
tags

# pre-commit
.pre-commit*

# .lock
*.lock

# DS_Store (MacOS)
.DS_Store
# RL pipelines may produce mp4 outputs
*.mp4

# dependencies
/transformers

# ruff
.ruff_cache

wandb

__pycache__
initial_mask/conv_in.pt
initial_mask/conv_out.pt
initial_mask/down_blocks.0.downsamplers.0.conv.pt
initial_mask/down_blocks.0.resnets.0.conv1.pt
initial_mask/down_blocks.0.resnets.0.conv2.pt
initial_mask/down_blocks.0.resnets.0.time_emb_proj.pt
initial_mask/down_blocks.0.resnets.1.conv1.pt
initial_mask/down_blocks.0.resnets.1.conv2.pt
initial_mask/down_blocks.0.resnets.1.time_emb_proj.pt
initial_mask/down_blocks.1.attentions.0.to_k.pt
initial_mask/down_blocks.1.attentions.0.to_out.0.pt
initial_mask/down_blocks.1.attentions.0.to_q.pt
initial_mask/down_blocks.1.attentions.0.to_v.pt
initial_mask/down_blocks.1.attentions.1.to_k.pt
initial_mask/down_blocks.1.attentions.1.to_out.0.pt
initial_mask/down_blocks.1.attentions.1.to_q.pt
initial_mask/down_blocks.1.attentions.1.to_v.pt
initial_mask/down_blocks.1.downsamplers.0.conv.pt
initial_mask/down_blocks.1.resnets.0.conv_shortcut.pt
initial_mask/down_blocks.1.resnets.0.conv1.pt
initial_mask/down_blocks.1.resnets.0.conv2.pt
initial_mask/down_blocks.1.resnets.0.time_emb_proj.pt
initial_mask/down_blocks.1.resnets.1.conv1.pt
initial_mask/down_blocks.1.resnets.1.conv2.pt
initial_mask/down_blocks.1.resnets.1.time_emb_proj.pt
initial_mask/down_blocks.2.downsamplers.0.conv.pt
initial_mask/down_blocks.2.resnets.0.conv1.pt
initial_mask/down_blocks.2.resnets.0.conv2.pt
initial_mask/down_blocks.2.resnets.0.time_emb_proj.pt
initial_mask/down_blocks.2.resnets.1.conv1.pt
initial_mask/down_blocks.2.resnets.1.conv2.pt
initial_mask/down_blocks.2.resnets.1.time_emb_proj.pt
initial_mask/down_blocks.3.resnets.0.conv1.pt
initial_mask/down_blocks.3.resnets.0.conv2.pt
initial_mask/down_blocks.3.resnets.0.time_emb_proj.pt
initial_mask/down_blocks.3.resnets.1.conv1.pt
initial_mask/down_blocks.3.resnets.1.conv2.pt
initial_mask/down_blocks.3.resnets.1.time_emb_proj.pt
initial_mask/mid_block.attentions.0.to_k.pt
initial_mask/mid_block.attentions.0.to_out.0.pt
initial_mask/mid_block.attentions.0.to_q.pt
initial_mask/mid_block.attentions.0.to_v.pt
initial_mask/mid_block.resnets.0.conv1.pt
initial_mask/mid_block.resnets.0.conv2.pt
initial_mask/mid_block.resnets.0.time_emb_proj.pt
initial_mask/mid_block.resnets.1.conv1.pt
initial_mask/mid_block.resnets.1.conv2.pt
initial_mask/mid_block.resnets.1.time_emb_proj.pt
initial_mask/time_embedding.linear_1.pt
initial_mask/time_embedding.linear_2.pt
initial_mask/up_blocks.0.resnets.0.conv_shortcut.pt
initial_mask/up_blocks.0.resnets.0.conv1.pt
initial_mask/up_blocks.0.resnets.0.conv2.pt
initial_mask/up_blocks.0.resnets.0.time_emb_proj.pt
initial_mask/up_blocks.0.resnets.1.conv_shortcut.pt
initial_mask/up_blocks.0.resnets.1.conv1.pt
initial_mask/up_blocks.0.resnets.1.conv2.pt
initial_mask/up_blocks.0.resnets.1.time_emb_proj.pt
initial_mask/up_blocks.0.resnets.2.conv_shortcut.pt
initial_mask/up_blocks.0.resnets.2.conv1.pt
initial_mask/up_blocks.0.resnets.2.conv2.pt
initial_mask/up_blocks.0.resnets.2.time_emb_proj.pt
initial_mask/up_blocks.0.upsamplers.0.conv.pt
initial_mask/up_blocks.1.resnets.0.conv_shortcut.pt
initial_mask/up_blocks.1.resnets.0.conv1.pt
initial_mask/up_blocks.1.resnets.0.conv2.pt
initial_mask/up_blocks.1.resnets.0.time_emb_proj.pt
initial_mask/up_blocks.1.resnets.1.conv_shortcut.pt
initial_mask/up_blocks.1.resnets.1.conv1.pt
initial_mask/up_blocks.1.resnets.1.conv2.pt
initial_mask/up_blocks.1.resnets.1.time_emb_proj.pt
initial_mask/up_blocks.1.resnets.2.conv_shortcut.pt
initial_mask/up_blocks.1.resnets.2.conv1.pt
initial_mask/up_blocks.1.resnets.2.conv2.pt
initial_mask/up_blocks.1.resnets.2.time_emb_proj.pt
initial_mask/up_blocks.1.upsamplers.0.conv.pt
initial_mask/up_blocks.2.attentions.0.to_k.pt
initial_mask/up_blocks.2.attentions.0.to_out.0.pt
initial_mask/up_blocks.2.attentions.0.to_q.pt
initial_mask/up_blocks.2.attentions.0.to_v.pt
initial_mask/up_blocks.2.attentions.1.to_k.pt
initial_mask/up_blocks.2.attentions.1.to_out.0.pt
initial_mask/up_blocks.2.attentions.1.to_q.pt
initial_mask/up_blocks.2.attentions.1.to_v.pt
initial_mask/up_blocks.2.attentions.2.to_k.pt
initial_mask/up_blocks.2.attentions.2.to_out.0.pt
initial_mask/up_blocks.2.attentions.2.to_q.pt
initial_mask/up_blocks.2.attentions.2.to_v.pt
initial_mask/up_blocks.2.resnets.0.conv_shortcut.pt
initial_mask/up_blocks.2.resnets.0.conv1.pt
initial_mask/up_blocks.2.resnets.0.conv2.pt
initial_mask/up_blocks.2.resnets.0.time_emb_proj.pt
initial_mask/up_blocks.2.resnets.1.conv_shortcut.pt
initial_mask/up_blocks.2.resnets.1.conv1.pt
initial_mask/up_blocks.2.resnets.1.conv2.pt
initial_mask/up_blocks.2.resnets.1.time_emb_proj.pt
initial_mask/up_blocks.2.resnets.2.conv_shortcut.pt
initial_mask/up_blocks.2.resnets.2.conv1.pt
initial_mask/up_blocks.2.resnets.2.conv2.pt
initial_mask/up_blocks.2.resnets.2.time_emb_proj.pt
initial_mask/up_blocks.2.upsamplers.0.conv.pt
initial_mask/up_blocks.3.resnets.0.conv_shortcut.pt
initial_mask/up_blocks.3.resnets.0.conv1.pt
initial_mask/up_blocks.3.resnets.0.conv2.pt
initial_mask/up_blocks.3.resnets.0.time_emb_proj.pt
initial_mask/up_blocks.3.resnets.1.conv_shortcut.pt
initial_mask/up_blocks.3.resnets.1.conv1.pt
initial_mask/up_blocks.3.resnets.1.conv2.pt
initial_mask/up_blocks.3.resnets.1.time_emb_proj.pt
initial_mask/up_blocks.3.resnets.2.conv_shortcut.pt
initial_mask/up_blocks.3.resnets.2.conv1.pt
initial_mask/up_blocks.3.resnets.2.conv2.pt
initial_mask/up_blocks.3.resnets.2.time_emb_proj.pt
Maskpro/initial_mask/conv_in.pt
Maskpro/initial_mask/conv_out.pt
Maskpro/initial_mask/down_blocks.0.downsamplers.0.conv.pt
Maskpro/initial_mask/down_blocks.0.resnets.0.conv1.pt
Maskpro/initial_mask/down_blocks.0.resnets.0.conv2.pt
Maskpro/initial_mask/down_blocks.0.resnets.0.time_emb_proj.pt
Maskpro/initial_mask/down_blocks.0.resnets.1.conv1.pt
Maskpro/initial_mask/down_blocks.0.resnets.1.conv2.pt
Maskpro/initial_mask/down_blocks.0.resnets.1.time_emb_proj.pt
Maskpro/initial_mask/down_blocks.1.attentions.0.to_k.pt
Maskpro/initial_mask/down_blocks.1.attentions.0.to_out.0.pt
Maskpro/initial_mask/down_blocks.1.attentions.0.to_q.pt
Maskpro/initial_mask/down_blocks.1.attentions.0.to_v.pt
Maskpro/initial_mask/down_blocks.1.attentions.1.to_k.pt
Maskpro/initial_mask/down_blocks.1.attentions.1.to_out.0.pt
Maskpro/initial_mask/down_blocks.1.attentions.1.to_q.pt
Maskpro/initial_mask/down_blocks.1.attentions.1.to_v.pt
Maskpro/initial_mask/down_blocks.1.downsamplers.0.conv.pt
Maskpro/initial_mask/down_blocks.1.resnets.0.conv_shortcut.pt
Maskpro/initial_mask/down_blocks.1.resnets.0.conv1.pt
Maskpro/initial_mask/down_blocks.1.resnets.0.conv2.pt
Maskpro/initial_mask/down_blocks.1.resnets.0.time_emb_proj.pt
Maskpro/initial_mask/down_blocks.1.resnets.1.conv1.pt
Maskpro/initial_mask/down_blocks.1.resnets.1.conv2.pt
Maskpro/initial_mask/down_blocks.1.resnets.1.time_emb_proj.pt
Maskpro/initial_mask/down_blocks.2.downsamplers.0.conv.pt
Maskpro/initial_mask/down_blocks.2.resnets.0.conv1.pt
Maskpro/initial_mask/down_blocks.2.resnets.0.conv2.pt
Maskpro/initial_mask/down_blocks.2.resnets.0.time_emb_proj.pt
Maskpro/initial_mask/down_blocks.2.resnets.1.conv1.pt
Maskpro/initial_mask/down_blocks.2.resnets.1.conv2.pt
Maskpro/initial_mask/down_blocks.2.resnets.1.time_emb_proj.pt
Maskpro/initial_mask/down_blocks.3.resnets.0.conv1.pt
Maskpro/initial_mask/down_blocks.3.resnets.0.conv2.pt
Maskpro/initial_mask/down_blocks.3.resnets.0.time_emb_proj.pt
Maskpro/initial_mask/down_blocks.3.resnets.1.conv1.pt
Maskpro/initial_mask/down_blocks.3.resnets.1.conv2.pt
Maskpro/initial_mask/down_blocks.3.resnets.1.time_emb_proj.pt
Maskpro/initial_mask/mid_block.attentions.0.to_k.pt
Maskpro/initial_mask/mid_block.attentions.0.to_out.0.pt
Maskpro/initial_mask/mid_block.attentions.0.to_q.pt
Maskpro/initial_mask/mid_block.attentions.0.to_v.pt
Maskpro/initial_mask/mid_block.resnets.0.conv1.pt
Maskpro/initial_mask/mid_block.resnets.0.conv2.pt
Maskpro/initial_mask/mid_block.resnets.0.time_emb_proj.pt
Maskpro/initial_mask/mid_block.resnets.1.conv1.pt
Maskpro/initial_mask/mid_block.resnets.1.conv2.pt
Maskpro/initial_mask/mid_block.resnets.1.time_emb_proj.pt
Maskpro/initial_mask/time_embedding.linear_1.pt
Maskpro/initial_mask/time_embedding.linear_2.pt
Maskpro/initial_mask/up_blocks.0.resnets.0.conv_shortcut.pt
Maskpro/initial_mask/up_blocks.0.resnets.0.conv1.pt
Maskpro/initial_mask/up_blocks.0.resnets.0.conv2.pt
Maskpro/initial_mask/up_blocks.0.resnets.0.time_emb_proj.pt
Maskpro/initial_mask/up_blocks.0.resnets.1.conv_shortcut.pt
Maskpro/initial_mask/up_blocks.0.resnets.1.conv1.pt
Maskpro/initial_mask/up_blocks.0.resnets.1.conv2.pt
Maskpro/initial_mask/up_blocks.0.resnets.1.time_emb_proj.pt
Maskpro/initial_mask/up_blocks.0.resnets.2.conv_shortcut.pt
Maskpro/initial_mask/up_blocks.0.resnets.2.conv1.pt
Maskpro/initial_mask/up_blocks.0.resnets.2.conv2.pt
Maskpro/initial_mask/up_blocks.0.resnets.2.time_emb_proj.pt
Maskpro/initial_mask/up_blocks.0.upsamplers.0.conv.pt
Maskpro/initial_mask/up_blocks.1.resnets.0.conv_shortcut.pt
Maskpro/initial_mask/up_blocks.1.resnets.0.conv1.pt
Maskpro/initial_mask/up_blocks.1.resnets.0.conv2.pt
Maskpro/initial_mask/up_blocks.1.resnets.0.time_emb_proj.pt
Maskpro/initial_mask/up_blocks.1.resnets.1.conv_shortcut.pt
Maskpro/initial_mask/up_blocks.1.resnets.1.conv1.pt
Maskpro/initial_mask/up_blocks.1.resnets.1.conv2.pt
Maskpro/initial_mask/up_blocks.1.resnets.1.time_emb_proj.pt
Maskpro/initial_mask/up_blocks.1.resnets.2.conv_shortcut.pt
Maskpro/initial_mask/up_blocks.1.resnets.2.conv1.pt
Maskpro/initial_mask/up_blocks.1.resnets.2.conv2.pt
Maskpro/initial_mask/up_blocks.1.resnets.2.time_emb_proj.pt
Maskpro/initial_mask/up_blocks.1.upsamplers.0.conv.pt
Maskpro/initial_mask/up_blocks.2.attentions.0.to_k.pt
Maskpro/initial_mask/up_blocks.2.attentions.0.to_out.0.pt
Maskpro/initial_mask/up_blocks.2.attentions.0.to_q.pt
Maskpro/initial_mask/up_blocks.2.attentions.0.to_v.pt
Maskpro/initial_mask/up_blocks.2.attentions.1.to_k.pt
Maskpro/initial_mask/up_blocks.2.attentions.1.to_out.0.pt
Maskpro/initial_mask/up_blocks.2.attentions.1.to_q.pt
Maskpro/initial_mask/up_blocks.2.attentions.1.to_v.pt
Maskpro/initial_mask/up_blocks.2.attentions.2.to_k.pt
Maskpro/initial_mask/up_blocks.2.attentions.2.to_out.0.pt
Maskpro/initial_mask/up_blocks.2.attentions.2.to_q.pt
Maskpro/initial_mask/up_blocks.2.attentions.2.to_v.pt
Maskpro/initial_mask/up_blocks.2.resnets.0.conv_shortcut.pt
Maskpro/initial_mask/up_blocks.2.resnets.0.conv1.pt
Maskpro/initial_mask/up_blocks.2.resnets.0.conv2.pt
Maskpro/initial_mask/up_blocks.2.resnets.0.time_emb_proj.pt
Maskpro/initial_mask/up_blocks.2.resnets.1.conv_shortcut.pt
Maskpro/initial_mask/up_blocks.2.resnets.1.conv1.pt
Maskpro/initial_mask/up_blocks.2.resnets.1.conv2.pt
Maskpro/initial_mask/up_blocks.2.resnets.1.time_emb_proj.pt
Maskpro/initial_mask/up_blocks.2.resnets.2.conv_shortcut.pt
Maskpro/initial_mask/up_blocks.2.resnets.2.conv1.pt
Maskpro/initial_mask/up_blocks.2.resnets.2.conv2.pt
Maskpro/initial_mask/up_blocks.2.resnets.2.time_emb_proj.pt
Maskpro/initial_mask/up_blocks.2.upsamplers.0.conv.pt
Maskpro/initial_mask/up_blocks.3.resnets.0.conv_shortcut.pt
Maskpro/initial_mask/up_blocks.3.resnets.0.conv1.pt
Maskpro/initial_mask/up_blocks.3.resnets.0.conv2.pt
Maskpro/initial_mask/up_blocks.3.resnets.0.time_emb_proj.pt
Maskpro/initial_mask/up_blocks.3.resnets.1.conv_shortcut.pt
Maskpro/initial_mask/up_blocks.3.resnets.1.conv1.pt
Maskpro/initial_mask/up_blocks.3.resnets.1.conv2.pt
Maskpro/initial_mask/up_blocks.3.resnets.1.time_emb_proj.pt
Maskpro/initial_mask/up_blocks.3.resnets.2.conv_shortcut.pt
Maskpro/initial_mask/up_blocks.3.resnets.2.conv1.pt
Maskpro/initial_mask/up_blocks.3.resnets.2.conv2.pt
Maskpro/initial_mask/up_blocks.3.resnets.2.time_emb_proj.pt
